.ctaButton {
    background-color: lightblue;
    border: 0px;
    border-radius: 15px;
    padding: 5px 0px;
    min-width: 40%;
}

.ctaButtonDark {
    background-color: darkseagreen;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 5px 0px;
    min-width: 40%;
}

.ctabutton:hover {
    background-color: #9cc7d6;
}

.email {
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: silver;
    min-width: 50%; 
    padding: 5px 5px;
    margin-right: 10px;
}
